# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment / secrets
.env

# Logs
*.log

# Datasets
**/data/celebrities/
